.numeric-filters {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.filter {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
